<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>17/05/07 14:48:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:sample.Amaysim.ManageSettingsTest@146ba0ac]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>17/05/07 14:48:17</td>   <td>7266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageSettingsTest.Test01()[pri:0, instance:sample.Amaysim.ManageSettingsTest@146ba0ac]">Test01</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/05/07 14:48:17</td>   <td>7280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:sample.Amaysim.ManageSettingsTest@146ba0ac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
</table>
